{
  "env": {
    "browser": true,
    "cypress/globals": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "jest",
    "cypress",
    "@typescript-eslint",
    "prettier",
    "simple-import-sort",
    "sort-destructure-keys",
    "typescript-sort-keys"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "natural": true
      }
    ],
    "sort-destructure-keys/sort-destructure-keys": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "react/jsx-sort-props": "error",
    "typescript-sort-keys/interface": "error",
    "typescript-sort-keys/string-enum": "error"
  }
}
